* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

.content-wrapper {
    width: 1140px;
    margin: auto;
}

.site-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #2F281E;
}

a:hover {
    color: #FF9900;
}

.navigation {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.first-screen {
    padding-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.first-screen-title {
    padding-top: 53px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.button-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

/* button {
    border: 1px solid #2F281E;
    background-color: transparent;
    border-radius: 4px;
} */

.get-started {
    width: fit-content;
    padding: 13px 43px;
    background-color: #FF9900;
    border: none;
    border-radius: 4px;
    color: #fff;
}

.button-signin {
    padding: 12px 23px;
    border: 1px solid #2F281E;
    border-radius: 4px;
    color: #2F281E;
    background-color: transparent;
}

.button-signup {
    padding: 13px 23px;
    background-color: #FF9900;
    border: none;
    border-radius: 4px;
    color: #fff;
}